.track {
    display: grid;
    grid-template-columns: auto auto auto;
    min-width: 300px;
    border-bottom: 1px solid var(--footnote-font-color);
}

.track > :not(last-child){
    margin-right: 30px;
}
.track__image {
    height: 50px;
    grid-column: 1;
    border-bottom: none;
}
.track__description {
    display: grid;
    grid-template-rows: 2;
    width: 100%;
}

.titleName {
font-size: 0.8125rem;
font-weight: 700;
grid-row: 1;
color: var(--title-font-color);
margin-bottom: 0;

}
.artistName {
    font-size: 0.625rem;
    font-weight: 400;
    grid-row:2;
    margin-top: 5px;
    color: var(--footnote-font-color);
    margin-bottom: 15px;
}
.action__button {
    background-color:  #181b2c;
    border: none;
    grid-column: 3;
    cursor: pointer;
}
.play__element {
    background-color: #181b2c;
    padding: 0;
}