.track {
    display: grid;
    grid-template-columns: 50px auto 45px;
    min-width: 300px;
    margin-top: 10px;
    border-bottom: 1px solid var(--footnote-font-color);
 }
.track > :not(:last-child){
    margin-right: 30px; 

 }
.track__image {
    border-radius:50%;
    height: 50px;
    grid-column: 1;
    border-bottom: none;
}
.track__description {
    display: grid;
    grid-template-rows: 2;
    margin-left: 20px;
}

.track__description > h3 {
font-size: 0.8125rem;
font-weight: 700;
grid-row: 1;
color: var(--title-font-color);
margin-bottom: 0;

}
.track__description > p {
    font-size: 0.625rem;
    font-weight: 400;
    grid-row:2;
    margin-top: 5px;
    color: var(--footnote-font-color);
    margin-bottom: 15px;
}
.track__button {
    background-color: var(--main-background-color);
    border: none;
    grid-column: 3;
    cursor: pointer;
}
