<div class="app-layout">
  <div>
    <header class="header"><h2>Settings</h2></header>
  </div>
  <div class="main">
    <main>
      <ul>
        <li>
          <div class="setting">
            <img src="../../assets/display.svg" alt="display" />
            <h4>Display</h4>
          </div>
        </li>
        <hr>
        <li>
          <div class="setting">
            <img src="../../assets/volume.svg" alt="volume" />
            <h4>Audio</h4>
          </div>
        </li>
        <hr>
        <li>
          <div class="setting">
            <img src="../../assets/headphones.svg" alt="headphones" />
            <h4>Headset</h4>
          </div>
        </li>
        <hr>
        <li>
          <div class="setting">
            <img src="../../assets/padlock.svg" alt="volume" />
            <h4>Lockscreen</h4>
          </div>
        </li>
        <hr>
        <div class="setting">
          <img src="../../assets/play.svg" alt="advanced" />
          <li><h4>Advanced</h4>
        </div>
      </li>
        <hr>
        <li>
          <div class="setting">
            <img src="../../assets/other.svg" alt="other" />
            <h4>Other</h4>
          </div>
        </li>
        <hr>
      </ul>
    </main>
  </div>
  <footer>
    <nav class="bottomnav">
      <div class="navitem">
        <img class="img" src="../../assets/home.svg" alt="Home" />
        <div class="active">Home</div>
      </div>
      <div class="navitem">
        <img class="img" src="../../assets/music.svg" alt="Music" />
        <div>Songs</div>
      </div>
      <div class="navitem">
        <img class="img" src="../../assets/settings.svg" alt="Settings" />
        <div>Settings</div>
      </div>
    </nav>
  </footer>
</div>
