.app-layout {
  height: 100vh;
  display: grid;
  grid-template: auto 1fr auto;
}
.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: grid;
}
ul {
  list-style: none;
}
hr {
  height: 1px;
  background-color: #282b3b;
  border: none;
  margin-left: 45px;
}
