<div class="app-layout">
  <div>
    <header class="header"><h2>Settings</h2></header>
  </div>
  <div class="main">
    <main>
      <ul>
        <li>Display</li>
        <li>Audio</li>
        <li>Headset</li>
        <li>Lockscreen</li>
        <li>Advanced</li>
        <li>Other</li>
      </ul>
    </main>
  </div>
  <footer>
    <nav class="bottomnav">
      <div class="navitem">
        <img class="img" src="../../assets/home.svg" alt="Home" />
        <div class="active">Home</div>
      </div>
      <div class="navitem">
        <img class="img" src="../../assets/music.svg" alt="Music" />
        <div>Songs</div>
      </div>
      <div class="navitem">
        <img class="img" src="../../assets/settings.svg" alt="Settings" />
        <div>Settings</div>
      </div>
    </nav>
  </footer>
</div>
