.visualizerContainer{
    display: flex;
    align-items: center;

}

.line {
    background-color: rebeccapurple;
    margin: 2px;
    width: 2px;
}

.visualizer__btn {
    height: 25px;
    width: 50px;
    margin-left: 50px;
    background-color: darkred;
    border: none;
}