.btn {
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  background: #016b6b;
  border: none;
  padding: 10px 20px;
  display: flex;
}

.btn-logo {
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  color: rgb(248, 238, 238);
  font-weight: lighter;
  background: linear-gradient(to bottom, #eb8175, #d9519d);
  border: none;
  padding: 5px 29px;
  display: inline-block;
  flex-direction: row;
  vertical-align: center;
  line-height: 20px;
  letter-spacing: 1px;
}
.btn-logo > div > img {
  width: 16px;
  height: 20px;
  top: 5px;
  bottom: 8px;
  margin-right: 10px;
  line-height: 15px;
  position: relative;
}

.btn-share {
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  color: rgb(248, 238, 238);
  font-weight: lighter;
  background: #383b49;
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 29px;
  display: inline-block;
  flex-direction: row;
  vertical-align: center;
  line-height: 20px;
  letter-spacing: 1px;
}
.btn-share > div > img {
  width: 16px;
  height: 20px;
  top: 5px;
  bottom: 8px;
  margin-right: 10px;
  line-height: 15px;
  position: relative;
}
