.btn {
  color: var(--main-font-color);
  border-radius: 20px;
  font-size: 0.5rem;
  font-weight: lighter;
  border: none;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn > :first-child {
  margin-right: 10px;
}
.btn-primary {
  background: linear-gradient(to bottom, #eb8175, #d9519d);
}

.btn-secondary {
  background-color: var(--main-background-color);
  border: 1.5px solid rgb(255, 255, 255);
}
.btn-tertiary {
  background: var(--main-background);
  border: 1.5px solid rgb(255, 255, 255);
}
