.btn {
  font-family: "Arial", sans-serif;
  border-radius: 20px;
  font-size: 0.5rem;
  color: rgb(248, 238, 238);
  font-weight: lighter;
  border: none;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn > :first-child {
  margin-right: 10px;
}
.btn-primary {
  background: linear-gradient(to bottom, #eb8175, #d9519d);
}

.btn-secondary {
  background: #383b49;
  border: 1.5px solid rgb(255, 255, 255);
}
.btn-tertiary {
  background: #383b49;
  border: 1.5px solid rgb(255, 255, 255);
}
