@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --main-background-color: #181b2c;
  --secondary-background-color: #383b49;
  --main-font-color: #d7d8db;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  margin: 0;
  color: var(--main-font-color);
  background-color: var(--main-background-color);
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Arial", sans-serif;
}
